@import url("//fonts.googleapis.com/css?family=Lora");
@import url("//fonts.googleapis.com/css?family=Varta");

.body {
  background-color: #f7f5f0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.app-container {
  min-height: 100vh;
}

.headers {
  background-color: #f7f5f0;
  display: flex;
  font-family: "Lora";
  text-decoration: none;
  padding-top: 50px;
  justify-content: center;
  z-index: 1;
}

.left-headers {
  display: flex;
  justify-content: flex-start;
}

.right-headers {
  display: flex;
  text-align: end;
  font-family: "Lora";
  text-decoration: none;
}

.header {
  text-decoration: none;
  color: black;
  margin-left: 50px;
}

.filler {
  display: flex;
  flex: 1;
}

.margin {
  margin-left: 29%;
  margin-right: 29%;
}

.name {
  text-decoration: none;
  color: black;
}

.about-body {
  z-index: 100;
  font-family: "Lora";
  display: absolute;
  vertical-align: middle;
  flex-direction: column;
  overflow: auto;
  vertical-align: middle;
}

.about-header {
  font-size: 3.5em;
  display: flex;
  flex-direction: row;
}

.about-icons {
  display: flex;
  flex-direction: row;
}

.about-linkedin {
  margin-left: 20px;
}

.about-mark {
  background-color: #ebe5f5;
  background: linear-gradient(to top, #ebe5f5 60%, transparent 40%);
  display: inline-flex;
  margin-left: 22px;
  width: 140px;
  justify-content: flex-end;
}

.about-link {
  background-color: #ebe5f5;
  background: linear-gradient(to top, #ebe5f5 5%, #f7f5f0 95%);
}

.project-link {
  background-color: #ebe5f5;
  background: linear-gradient(to top, #ebe5f5 5%, white 95%);
}

.project-link:hover {
  background-color: #ebe5f5;
  background: linear-gradient(to top, #ebe5f5 100%, #f7f5f0 0%);
}

.about-link:hover {
  background-color: #ebe5f5;
  background: linear-gradient(to top, #ebe5f5 100%, #f7f5f0 0%);
}

.about-indent {
  margin-left: 25px;
}

span {
  background-position: right bottom;
}

p {
  margin-bottom: 0.1%;
}

.about-paragraph {
  font-family: "Varta";
  font-size: 18px;
  padding-bottom: 30px;
}

.about-blueprint {
  text-decoration: none;
}

span {
  display: inline-block;
}

.about-subheader {
  width: 100%;
  font-size: 1.5em;
}

.film-center {
  margin-top: 10%;
}

.film-header {
  font-family: "Lora";
  font-size: 2em;
  font-weight: 280;
}

.film-subheader {
  margin-top: 20px;
  font-family: "Lora";
}

.projects-center {
  margin-top: 10%;
}

.projects-header {
  font-family: "Lora";
  font-size: 2em;
  font-weight: 280;
}

.projects-subheader {
  font-family: "Lora";
}

a {
  text-decoration: none;
  color: black;
}

mark {
  background-color: #ebe5f5;
}

mark:hover {
  color: #093878;
}

.project-background {
  width: 100%;
  height: 10%;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
}

.project-header {
  font-family: "Lora";
  font-size: 18px;
}

.project-left {
  width: 40%;
}

.project-padding {
  padding: 20px;
}

.project-pic {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.project-desc {
  font-family: "Varta";
  font-size: 14px;
  margin-top: 18px;
}

.project-rightmargin {
  margin-right: 3px;
}

.project-video {
  width: 32vw;
  height: 32vh;
}

.project-list {
  padding-bottom: 50px;
}

.project-picsize {
  max-width: 100%;
  width: auto;
  height: auto;
}

.project-techstack {
  font-style: italic;
}
